  {% comment %} </div> {% endcomment %}
<section class="p-top_wrap06-02 fadeIn">
  <div class="inner">
    <a class="btn tab" href="https://www.instagram.com/galaaoiumi/?hl=ja" target="_blank">View Instagram</a>
  </div>
</section><!-- /.p-top_wrap06 -->




{% schema %}
 {
  "name": "feed_bottom",
  "presets": [
   {
    "name": "feed_bottom"
   }
  ]
 }
{% endschema %}