<div id="main" class="sub_container">
  <!-- メインビジュアル -->
  <div class="p-sub_mv">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/company_mv_sp.png" media="(max-width: 767.98px)" class="sp_img">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-company_mv.png" alt=" COMPANY 会社概要">
    </picture>
    <div class="obj-leaf01"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf01.png" alt=""></div>
  </div><!-- /.p-sub_mv -->


  <section class="company_inner">
    <div class="inner">
      <table class="default_table">
        <tr>
          <th>会社名</th>
          <td>株式会社 青い海</td>
        </tr>
        <tr>
          <th>設　立</th>
          <td>昭和49年2月2日</td>
        </tr>
        <tr>
          <th>資本金</th>
          <td>8,000万円</td>
        </tr>

        {% comment %} <tr>
          <th>代表者</th>
          <td>テキスト</td>
        </tr> {% endcomment %}

        <tr>
          <th>住所</th>
          <td>〒901-0306 <br class="u-sp">沖縄県糸満市西崎町4-5-4</td>
        </tr>

        <tr>
          <th>TEL</th>
          <td>098-992-1140<br class="u-sp">（※Gala青い海へのお問い合わせは 098-958-3940 です）</td>
        </tr>

        {% comment %} <tr>
          <th>FAX</th>
          <td>098-958-3940</td>
        </tr> {% endcomment %}

        <tr>
          <th>事業内容</th>
          <td>食塩、混合香辛料、<br class="u-sp">砂糖の食料品製造、販売</td>
        </tr>

        <tr>
          <th>URL</th>
          <td>
            <ul>
              <li><a href="https://www.aoiumi.co.jp/" target="_blank" rel="noopener">株式会社青い海　<br class="u-sp">https://www.aoiumi.co.jp/</a></li>
              <li><a href="http://www.gala-aoiumi.com/" target="_blank" rel="noopener">Gala 青い海　<br class="u-sp">http://www.gala-aoiumi.com/</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </section>
</div>