<div id="main" class="sub_container collection_container">
  <!-- メインビジュアル -->
  <div class="p-sub_mv">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/collection_mv_sp.png" media="(max-width: 767.98px)" class="sp_img">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection_mv.png" alt="">
    </picture>
    <div class="obj-leaf01"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf01.png" alt=""></div>
  </div><!-- /.p-sub_mv -->

  <section class="ryukyu_glass">

    <div class="inner">
      <div class="ttl fadeIn">
        <div class="en-ttl">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/ryukyuGlass-ttl.png" alt="Ryuku Glass">
        </div>
        <h2>琉球ガラス</h2>
      </div>
      <div class="img_head u-sp fadeIn">
        <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection01.jpg" alt="琉球グラス01-1">
      </div>
      <div class="collection_wrap">
        <div class="txt_box">
          <h3 class="medium_ttl">琉球の歴史と文化を映す、色とりどりのガラス</h3>
          <p>
            琉球ガラスは、日本の沖縄県で生まれた伝統的なガラス工芸品です。<br>
            その特徴は、色とりどりで泡が入った美しいデザインです。本来、気泡はガラス製品としては欠点ですが、むしろ、ユニークな特徴として受け入れられ、琉球ガラスの個性として浸透していきました。<br>
            琉球ガラスのもう一つの特徴はその色です。その色は、原料となる廃棄されたガラス瓶の色がもととなっています。例えば、茶色はビール瓶、淡水色は一升瓶、緑色はジュースの瓶など。これは、かつてアメリカ軍基地から出た瓶や窓ガラスなどのリサイクル素材を使って作られたことに由来します。
          </p>
          <p>
          琉球ガラスは手作りで、一つ一つが職人の技術とセンスを反映しています。その色彩豊かな見た目は、沖縄の明るい自然や文化を表現しており、観光客にも人気の高い工芸品となっています。
          </p>
        </div>
        <div class="img_box">
          <figure class="img-item01">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection02.jpg" alt="琉球グラス02">
          </figure>
          <figure class="img-item02">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection03.jpg" alt="琉球グラス03">
          </figure>
        </div>
      </div>
      <div class="box">
        <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/collection_btn01.png" alt="琉球ガラス一覧を見る">
        </a>
      </div>
      <div class="obj-leaf02"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf02.png" alt=""></div>
    </div>
    <div class="img3d_box01 nosp">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection01.jpg" alt="琉球グラス01-2">
    </div>
  </section>
  <div class="up_wave"></div>

  <section class="craft_collection">
    <div class="inner">
      <div class="ttl fadeIn">
        <div class="en-ttl">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/craftCollection_ttl.png" alt="Craft Collection">
        </div>
        <h2>工芸品名</h2>
      </div>
      <div class="img_head u-sp fadeIn">
        <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection04.jpg" alt="工芸品01-1">
      </div>
      <div class="collection_wrap">
        <div class="txt_box">
          <h3 class="medium_ttl">沖縄を表現する、個性豊かな作品たち</h3>
          <p>
            沖縄県内で活躍する作家さんは、沖縄の豊かな自然、美しい海をモチーフにした作品を多く手掛けています。彼らの作る作品は、沖縄の海の青さや波の動きを表現したデザインや、沖縄のさまざまな素材で作られています。<br>
            また、沖縄の海辺の風景や生き物を活用した鮮やかで魅力的なアートワークも。これらの作品は、沖縄の自然と文化の美しさを反映しており、地元の人々はもちろん、観光客にも愛されています。<br>
            各作家さんの個性が光るユニークな作品は、沖縄の伝統と現代的な感性が融合した新しい工芸の形を示しています。
          </p>
        </div>
        <div class="img_box">
          <figure class="img-item01">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection05.jpg" alt="工芸品02">
          </figure>
          <figure class="img-item02">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection06.jpg" alt="工芸品03">
          </figure>
        </div>
      </div>
      <div class="box">
        <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/collection_btn02.png" alt="工芸品一覧を見る">
        </a>
      </div>

    </div>
    <div class="img3d_box01 nosp">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection04.jpg" alt="工芸品01-2">
    </div>
    <!-- <div class="obj-leaf02"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf02.png" alt=""></div> -->

  </section><!-- /.craft_collection -->
  <div class="down_wave"></div>
  <section class="accesary">
    <div class="obj-leaf02"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf02.png" alt=""></div>

    <div class="inner">
      <div class="ttl fadeIn">
        <div class="en-ttl">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/accesary-ttl.png" alt="Accesary">
        </div>
        <h2>アクセサリー</h2>
      </div>
      <div class="img_head u-sp fadeIn">
        <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection07.jpg" alt="アクセサリー01-1">
      </div>
      <div class="collection_wrap">
        <div class="txt_box">
          <h3 class="medium_ttl">沖縄の自然、文化を感じる魅力的な作品</h3>
          <p>
            ポストカードや手ぬぐいには、沖縄独特の美しい自然や文化が描かれています。沖縄の魅力的な風景を切り取ったアート作品のようで、郵送するだけでなく、記念品やインテリアとしても人気です。<br>
            色彩豊かで、独自の技を用いたこれらの作品は、実用品としてだけでなく、壁掛けなどの装飾品としても用いられ、沖縄の文化や歴史を伝えるアイテムとして価値があります。<br>
            沖縄の暮らしや自然の美しさ、文化の豊かさを表現した作品たちは、地元の人々だけでなく、観光客にも愛されています。
          </p>
        </div>
        <div class="img_box">
          <figure class="img-item01">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection08.jpg" alt="アクセサリー02">
          </figure>
          <figure class="img-item02">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection09.jpg" alt="アクセサリー02">
          </figure>
        </div>
      </div>
      <div class="box">
        <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/collection_btn03.png" alt="工芸品一覧を見る">
        </a>
      </div>
      <!-- <div class="obj-leaf02"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf02.png" alt=""></div> -->
    </div>
    <div class="img3d_box01 nosp">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-collection07.jpg" alt="アクセサリー01-2">
    </div>
  </section><!-- /.accesary -->



  <section class="swiper_inner">
    <div class="loop-slider sub_swiper02">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-craft-collection01.jpg" alt="工芸品スライド01">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-craft-collection02.jpg" alt="工芸品スライド02">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-craft-collection03.jpg" alt="工芸品スライド03">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-craft-collection04.jpg" alt="工芸品スライド04">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-craft-collection05.jpg" alt="工芸品スライド05">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-craft-collection06.jpg" alt="工芸品スライド06">
          </div>
        </div>
         <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-craft-collection07.jpg" alt="工芸品スライド06">
          </div>
        </div>

      </div>
    </div><!-- /.sub_swiper -->
  </section><!-- /.swiper_inner -->
</div>