<div id="main" class="sub_container">
  <!-- メインビジュアル -->
  <div class="p-sub_mv">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/tastyset_mv_sp.png" media="(max-width: 767.98px)" class="sp_img">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-tastyset_mv.png" alt="Gala's Tasty Set">
    </picture>
    <div class="obj-leaf01"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf01.png" alt=""></div>
  </div><!-- /.p-sub_mv -->

  <section class="tasty_inner">
    <div class="tasty_tag u-sp fadeIn">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/tasty_tag.png" alt="もとぶ牛ハンバーグ缶×青い海塩セット">
    </div>
    <div class="tasty_wrap01">
      <div class="set_img01">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/tastyset01_sp.jpg" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-tastyset01.png" alt="もとぶ牛ハンバーグ缶01">
        </picture>
      </div>
      <div class="set_txt">
        <h3 class="medium_ttl">もとぶ牛ハンバーグ缶</h3>
        <!-- <div class="txt_box"> -->
        <p class="text">
          ビール粕と乳酸菌を使用した発酵飼料を与えることにより、柔らかく脂の甘みが特徴のもとぶ牛が育てられています。その品質は、全国霜降牛研究会・和牛部門での優秀賞を受賞し、県畜産共進会でも高い評価を受けています。<br>
          「もとぶ牧場ハンバーグ缶」は、いつでもどこでも美味しいハンバーグを楽しんでいただきたいという想いから、常温保存が可能な缶詰タイプとして開発されました。もとぶ牧場産の黒毛和牛を100％使用し、野菜などの主原料も国産のものを使用しています。
        </p>
        <!-- </div> -->
      </div>

      <div class="tasty_wrap01-img">

        <div class="js-rellax" data-rellax-vertical-scroll-axis="xy" data-rellax-min-x="480" data-rellax-max-y="200">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-tastyset01-02.jpg" alt="もとぶ牛ハンバーグ缶02">
        </div>
        <div class="js-rellax js-rellax02" data-rellax-vertical-scroll-axis="x" data-rellax-max-y="600"
          data-rellax-min-x="20">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-tastyset01-03.jpg" alt="もとぶ牛ハンバーグ缶03">
        </div>

      </div><!-- /.tasty_wrap -->
    </div>
    <div class="tasty_wrap02">
      <div class="set_txt">
        <h3 class="medium_ttl">青い海 塩3点ギフトセット</h3>
        <!-- <div class="txt_box"> -->
        <p class="text">
          シママースでお馴染みの青い海から、塩のギフトセットが登場。<br>
          使い心地の良い海水塩、香りが広がるスパイス塩、素材を引き出す粗挽き塩胡椒。使い勝手の良い塩のギフトは、ちょっとしたお礼にも喜ばれます。
          食卓の雰囲気にも合うおしゃれな瓶も魅力です。<br>
          2点セットのご用意もあるので、ボリュームに合わせてお好みのセットをお試しください。
        </p>
        <!-- </div> -->
      </div>

      <div class="tasty_wrap02-img">
        <div class="js-rellax " data-rellax-vertical-scroll-axis="xy" data-rellax-min-x="520" data-rellax-max-y="120">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-tastyset02-02.jpg" alt="青い海 塩3点ギフトセット02">
        </div>
        <div class="js-rellax js-rellax02" data-rellax-vertical-scroll-axis="x" data-rellax-max-y="-160"
          data-rellax-min-x="-100">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-tastyset02-03.jpg" alt="青い海 塩3点ギフトセット03">
        </div>
      </div><!-- /.tasty_wrap -->

      <div class="set_img02">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/tastyset02_sp.jpg" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-tastyset02.png" alt="青い海 塩3点ギフトセット01">
        </picture>
      </div>

    </div><!-- /.tasty_wrap -->
    <div class="gift_set">
      <div class="inner">
        <ul>
          <li class="fadeIn">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/gift-set01.png" alt="香味広がるスパイス塩">
            <h4 class="small_ttl">香味広がるスパイス塩</h4>
            <div class="txt_box">
              <p>香ばしいスパイスと沖縄の海水塩をブレンドしました。肉・魚料理の他に、パスタや根菜類のソテーにもおすすめです。スパイスの豊かな香りが料理を華やかに仕上げてくれます。</p>
            </div>

          </li>
          <li class="fadeIn">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/gift-set02.png" alt="沖縄の海水塩">
            <h4 class="small_ttl">焼塩 沖縄の海水塩</h4>
            <div class="txt_box">
              <p>沖縄の海水のみを炊き上げた後、焼成してサラサラとした使い心地の良いお塩に仕上げました。てんぷらの付け塩やサラダなどのほか、食卓用のお塩として幅広く活用いただけます。</p>
            </div>

          </li>
          <li class="fadeIn">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/gift-set03.png" alt="粗びき塩胡椒">
            <h4 class="small_ttl">粗びき塩胡椒</h4>
            <div class="txt_box">
              <p>沖縄の海水のみを炊き上げた後、焼成してサラサラとした使い心地の良いお塩に仕上げました。てんぷらの付け塩やサラダなどのほか、食卓用のお塩として幅広く活用いただけます。</p>
            </div>

          </li>
        </ul>
      </div>
      <div class="obj-leaf02"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf02.png" alt=""></div>
    </div>
  </section><!-- /.tasty_inner -->

  <div class="up_wave"></div>
  {% section 'lineup-tastyset' %}
</div>