<div id="main" class="sub_container">
  <!-- メインビジュアル -->
  <div class="p-sub_mv">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/faq_mv_sp.png" media="(max-width: 767.98px)" class="sp_img">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-faq_mv.png" alt="FAQ よくある質問">
    </picture>
    <div class="obj-leaf01"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf01.png" alt=""></div>
  </div><!-- /.p-sub_mv -->


  <section class="faq_inner">
    <div class="inner">
      <ul class="ancher_box">
        <li><a href="#order_payment">ご注文･お支払いについて</a></li>
        <li><a href="#shipping_cost">配送・送料について</a></li>
        <li><a href="#return_exchange">返品・交換について</a></li>
      </ul>
      <div class="faq_wrap">
        <div id="order_payment">
          <h2 class="content_ttl">
            ご注文・お支払いについて
          </h2>
          <div class="accordion">
            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">電話やFAXで注文できますか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>ご注文方法はインターネットからのご注文のみとなっております。
                    お電話やFAX、メールでのご注文は承っておりませんのでご了承ください。</p>
                </div>
              </div>
            </details>
            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">ギフトラッピングはできますか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>紙袋、手提げ袋、ギフトボックスなどは対応できません。</p>
                  <p>（現在まだ用意がありません。申し訳ございません。）</p>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">お支払い方法は何がありますか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p class="mb2">
                      当店では、クレジットカード・代金引換・銀行振込をご利用いただけます。</p>
                  <p>【銀行振込の場合】</p>
                  <p>ご注文日を含む10日以内に下記口座にご入金をお願いします。</p>
                  <p> 沖縄銀行　西崎支店　普通1283772　カ）アオイウミ</p>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">注文してからどれくらいで発送されますか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>ご注文・決済完了後、<span>土日祝日を除く5営業日以内</span>に発送いたします。</p>
                  <p>※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。</p>
                  <p>※お急ぎの方は、お問い合わせフォームよりご相談ください。</p>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">注文内容の変更/キャンセルをしたいです。</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>商品の発送前でしたら対応可能な場合もございます。一度、お問合せフォームよりご相談ください。</p>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">注文したのですが、注文確認のメールが届かないです。</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <div class="answer_box">
                    <p class="mb2">
                      当社からのご注文受付メールは、お客様のご注文完了後、システムにより自動的に配信されます。ご注文いただいてから1日以上経っても確認メールが届かない場合は、下記の点をご確認ください。</p>
                    <p>●ご注文時に登録いただきましたメールアドレスに誤り・変更はございませんか？</p>
                    <ul class="dots_list mb2">
                      <li>特に@以降の間違いが多くございます。「@***.ne.jp」</li>
                      <li>ハイフン「-」とアンダーバー「_ 」の入力にご注意ください。</li>
                    </ul>
                    <p>●受信拒否の設定をされていませんか？</p>
                    <ul class="dots_list">
                      <li>特にスマートフォンにおいて、受信先の設定をされている場合がございます。</li>
                    </ul>
                    <p>設定をご確認いただき、受信先を指定されている場合は、「<span>gala.order@aoiumi.co.jp</span>」からのメールを受信ドメインにご登録ください。</p>
                  </div>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">ギフトにしたいので、金額が表示された明細書などを入れないでほしいです。</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>ギフトでご注文の場合は、価格のわかるものは含めずにお届けしておりますのでご安心ください。</p>
                </div>
              </div>
            </details>
          </div><!-- /.accordion -->
        </div>
      </div> <!-- /.faq_wrap -->

      <div class="faq_wrap">
        <div id="shipping_cost">
          <h2 class="content_ttl">
            配送・送料について
          </h2>
          <div class="accordion">
            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">送料はいくらですか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <ul>
                    <li>北海道・東北地方　1,500円</li>
                    <li>信越・北陸・関東・東海・近畿・四国・中国　1,000円</li>
                    <li>九州・沖縄　500円</li>
                  </ul>
                  <p>※１回のご注文金額が商品代金10,000円（税込）以上の場合、全国無料配送になります。</p>
                </div>
              </div>
            </details>
            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">日付指定できますか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>お届け日は、ご注文日の7日以降よりご希望の日時をお選びいただけます。
                    お届け日を指定しない場合は、ご注文・決済完了後、土日祝日を除く5営業日以内に発送いたします。</p>
                  <p>※お急ぎの方は、お問合せフォームよりご相談ください。</p>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">複数の配送先に送りたいのですが、できますか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>1回のご注文内でお届け先を分けることはできかねます。複数の配送先へのお届けをご希望の場合は、お手数ですがそれぞれのお届け先ごとにご注文をお願いいたします。</p>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">配送の状況はどこから確認できますか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>
                    商品の発送完了後、ご注文時のメールアドレスに「商品を発送いたしました」というメールをお届けしており、メール内に伝票番号を記載しています。配送状況につきましては、日本郵便の荷物お問合せシステムよりご確認いただけます。
                  </p>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">海外への発送は可能ですか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>申し訳ございませんが、海外への発送は承っておりません。</p>
                </div>
              </div>
            </details>

            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">別々に注文した商品を同梱できますか？</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>
                    複数回ご注文いただき、かつ発送準備前で、下記の条件に該当する場合は、送料を調整し1件分のご注文としておまとめ可能です。ただし、<span>銀行振込</span>を選択されており、お支払いが完了している場合など、対応が難しい場合もございます。一度、お問合せフォームよりご相談ください。
                  </p>
                  <ul class="dots_list">
                    <li>お届け先やお届け日などの情報が同一の場合</li>
                    <li>お客さまから同梱を希望される旨をご連絡をいただいた場合</li>
                  </ul>
                </div>
              </div>
            </details>
          </div><!-- /.accordion -->
        </div>
      </div> <!-- /.faq_wrap -->


      <div class="faq_wrap">
        <div id="return_exchange">
          <h2 class="content_ttl">
            返品・交換について
          </h2>
          <div class="accordion">
            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">商品を返品・交換したいです。</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p>商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。</p>
                  <p>不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。</p>
                </div>
              </div>
            </details>
            <details class="js-details">
              <summary class="js-summary"><span class="summary_inner">届いた商品に商品に不備がありました。</span>
              </summary>
              <div class="answer js-answer">
                <div class="answer_inner">
                  <p class="mb2">
                    到着した商品に不備・不良品がありましたらご連絡ください。商品の破損など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応いたします。</p>
                  <p>
                    商品到着後1週間以内に、お問合せフォームまたはお電話にてご連絡をいただけますようお願い申し上げます。その際お手数ですが、①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）をお知らせください。手続きの手順について、ご案内させていただきます。
                  </p>
                </div>
              </div>
            </details>
          </div><!-- /.accordion -->
        </div>
      </div> <!-- /.faq_wrap -->
    </div>
  </section><!-- /.faq_inner -->
</div>