<div id="main" class="sub_container">
  <!-- メインビジュアル -->
  <div class="p-sub_mv">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/about_mv_sp.png" media="(max-width: 767.98px)" class="sp_img">
      <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-about_mv.png" alt="">
    </picture>
    <div class="obj-leaf01"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf01.png" alt=""></div>
  </div><!-- /.p-sub_mv -->


  <section class="about_inner01">
    <div class="inner">
      <div class="about_wrap01">
        <div class="txt_box">
          <h2 class="content_ttl">
            沖縄を五感で体感できるスポット<br>
            「Gala 青い海」
          </h2>
          <p>
            沖縄県中部、読谷村にあるGala青い海は青い空と海が一望出来る場所。
            シュガーロードを抜けた先に広がる絶景、
            一日の終わりには美しいサンセットがあなたを魅了します。
          </p>
        </div>

        <!-- <a class="btn" href="#">View About</a> -->
      </div>
    </div>

    <div class="bout_inner01-1">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/about01_sp.jpg" media="(max-width: 767.98px)" class="sp_img">
        <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-about01.jpg" alt="">
      </picture>
    </div>


    <div class="inner">
      <div class="about_wrap02">
        <picture>
          <!-- <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/about02_sp.jpg" media="(max-width: 767.98px)" class="sp_img"> -->
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/about02_sp.jpg" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-about02.jpg" alt="">
        </picture>
        <div class="txt_box">
          <h3 class="medium_ttl">
            自然、文化、アクティビティ、<br>
            沖縄の『いいモノ』を。
          </h3>
          <p>
            「Gala 青い海」では、東シナ海の絶景を見ながら、陶芸・ガラス制作・乗馬体験が楽しめます。また、本格アメリカンピザ・メキシコ料理ブリトーなど美味の体感もおすすめ。ショップでは県内外で人気の高いやちむん(陶芸)、琉球ガラスや沖縄の特産品を取り揃えています。沖縄の文化を実際に手に取れます。沖縄の魅力を感じながら、五感で沖縄をお楽しみいただける場所です。
          </p>
        </div>
        <div class="obj-leaf02"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf02.png" alt=""></div>

      </div>

      <div class="about_wrap03">
        <div class="txt_box">
          <h3 class="medium_ttl">
            五感で沖縄を感じるひとときを。
          </h3>
          <p>
            Gala青い海のお土産ショップでは、沖縄の伝統と現代の魅力が融合した多彩な商品を取り揃えています。店内には、手作りのやちむん（陶芸品）や美しい琉球ガラスの工芸品が並び、沖縄の工芸の精巧さと美しさを感じることができます。さらに、沖縄の自然を生かした塩の商品や伝統的なお菓子、地元で愛される調味料や食べ物も豊富に販売しています。<br>
沖縄の美しい景色や文化をさらに多くの人にお持ち帰りいただくため、オンラインショップでも購入できます。
          </p>
        </div>
        <picture>
          <!-- <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/about/about03_sp.jpg" media="(max-width: 767.98px)" class="sp_img"> -->
          <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/about03_sp.jpg" media="(max-width: 767.98px)" class="sp_img">
          <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-about03.jpg" alt="">
        </picture>
      </div>
      <p class="u-sp">
        <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/about04_sp.jpg" alt="">
      </p>

    </div>
  </section><!-- /.about_inner -->

  <section class="swiper_inner">
    <div class="loop-slider sub_swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-img01.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-img02.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-img03.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-img04.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-img05.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-img06.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumn-box obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/loopswiper-img07.jpg" alt="">
          </div>
        </div>
      </div>
    </div><!-- /.sub_swiper -->
  </section><!-- /.p-top_wrap02 -->
  <div class="up_wave"></div>
  <section class="about_inner02">
    <div class="obj-leaf03"><img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/shadow_leaf01.png" alt=""></div>
    <div class="inner">
      <h2 class="content_ttl">
        株式会社 青い海について
      </h2>
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/about05_sp.jpg" media="(max-width: 767.98px)" class="sp_img">
        <img src="https://cdn.shopify.com/s/files/1/0555/2485/1798/files/p-about05.jpg" alt="">
      </picture>
      <div class="txt_box">
        <p>
          「Gala 青い海」を運営する株式会社青い海。<br>
          美しい沖縄の海から生まれる「塩」こそ「食」の根源であるという信念のもと、昭和48年に、いち早く沖縄県内の塩製造メーカーとして出発。<br>
          沖縄の製塩業を復活させたパイオニアとしての誇りを胸に安心・安全で皆様に喜んでいただける商品作りを続けています。
        </p>
      </div>
      <a href="https://www.aoiumi.co.jp/" target="_blank" rel="noopener" class="tab btn">View Aoiumi</a>
    </div><!-- /.inner -->
</div>
